* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: rgb(77, 77, 77);
}
body a {
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../fonts/PlayfairDisplay-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Ramadan";
  src: url("../../fonts/Ramadhan Karim.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Vonique";
  src: url("../../fonts/Vonique 64 Bold.otf") format("opentype");
  font-weight: 400;
}
header {
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  background: linear-gradient(to right, rgb(44, 38, 109), rgb(16, 12, 38));
}
@media screen and (max-width: 1200px) {
  header {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 690px) {
  header {
    padding: 10px 0px;
    min-width: 375px;
  }
}
header .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar-container .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header .navbar-container .navbar a {
  color: white;
}
header .navbar-container .navbar .left-side {
  display: flex;
  align-items: center;
}
header .navbar-container .navbar .left-side img {
  width: 60px;
}
header .navbar-container .navbar .left-side .logo-text {
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
}
header .navbar-container .navbar .right-side {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}
header .navbar-container .navbar .right-side .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
header .navbar-container .navbar .right-side .nav-items a {
  transition: 0.2s;
}
header .navbar-container .navbar .right-side .nav-items a:hover {
  color: orange;
}
@media screen and (max-width: 1200px) {
  header .navbar-container .navbar .right-side .nav-items {
    display: none;
  }
}
header .navbar-container .navbar .right-side .nav-items .currency {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .navbar-container .navbar .right-side .nav-items .currency img {
  width: 20px;
}
header .navbar-container .navbar .right-side .nav-items .currency select {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
}
header .navbar-container .navbar .right-side .nav-items .currency select:hover {
  color: orange;
}
header .navbar-container .navbar .right-side .nav-items .currency select option {
  border: none;
  outline: none;
  cursor: pointer;
  color: #012367;
}
header .navbar-container .navbar .right-side .nav-items .daxil-ol {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
header .navbar-container .navbar .right-side .nav-items .daxil-ol img {
  width: 20px;
}
header .navbar-container .navbar .right-side .burger-menu {
  display: none;
}
@media screen and (max-width: 1200px) {
  header .navbar-container .navbar .right-side .burger-menu {
    display: initial;
    width: 20px;
  }
}

.sub-bar-container {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .sub-bar-container {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 690px) {
  .sub-bar-container {
    padding: 10px 0px;
    min-width: 375px;
  }
}
.sub-bar-container .sub-bar {
  display: flex;
  align-items: center;
}
.sub-bar-container .sub-bar .line-between {
  width: 1px;
  height: 30px;
  background-color: #012367;
}
@media screen and (max-width: 1200px) {
  .sub-bar-container .sub-bar .line-between {
    height: 15px;
  }
}
.sub-bar-container .sub-bar a {
  font-size: 22px;
  color: #012367;
  transition: 0.2s;
}
@media screen and (max-width: 1200px) {
  .sub-bar-container .sub-bar a {
    font-size: 16px;
  }
}
.sub-bar-container .sub-bar a:hover {
  color: orange;
}
.sub-bar-container .sub-bar .hotels {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 20px;
}
.sub-bar-container .sub-bar .hotels img {
  width: 20px;
}
.sub-bar-container .sub-bar .transfers {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 20px;
}
.sub-bar-container .sub-bar .transfers img {
  width: 20px;
}

.search-section {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../assets/images/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .search-section {
    align-self: stretch;
  }
}
@media screen and (max-width: 690px) {
  .search-section {
    min-width: 375px;
  }
}
.search-section .background-part {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-section .background-part .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.search-section .background-part .rectangle img {
  width: 100%;
  height: 100%;
}
.search-section .background-part .header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  z-index: 2;
  line-height: 60px;
}
@media screen and (max-width: 1200px) {
  .search-section .background-part .header {
    padding: 20px 0px;
    line-height: 40px;
  }
}
@media screen and (max-width: 690px) {
  .search-section .background-part .header {
    padding: 40px 0px;
    line-height: 20px;
  }
}
.search-section .background-part .header h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  -webkit-animation: slideIn 1s ease-in-out;
          animation: slideIn 1s ease-in-out;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .search-section .background-part .header h1 {
    font-size: 40px;
    padding: 10px 0px;
  }
}
@media screen and (max-width: 690px) {
  .search-section .background-part .header h1 {
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
  }
}
.search-section .background-part .header h1 :hover {
  color: orange;
}
.search-section .background-part .header h1 .small-text {
  transition: 0.3s;
  font-size: 38px;
  font-weight: 300;
}
@media screen and (max-width: 690px) {
  .search-section .background-part .header h1 .small-text {
    font-size: 20px;
    text-align: center;
    padding: 0px 10px;
  }
}
.search-section .booking-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  margin-top: 140px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-section .booking-box form {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .search-section .booking-box form {
    gap: 10px;
  }
}
.search-section .booking-box .booking-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 1200px;
  height: 127.909px;
  background-color: rgba(255, 255, 255, 0.566);
  border: 2px solid orange;
  border-radius: 23px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
}
@media screen and (max-width: 1200px) {
  .search-section .booking-box .booking-container {
    width: 600px;
    height: 350px;
    padding: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
  .search-section .booking-box .booking-container {
    width: 100%;
    height: 350px;
    padding: 10px;
    flex-direction: column;
  }
}
.search-section .booking-box .booking-container .pax select {
  width: 50px;
}
.search-section .booking-box .booking-container .pax select option {
  text-align: center;
  cursor: pointer;
}
.search-section .booking-box .booking-container .city,
.search-section .booking-box .booking-container .check-out,
.search-section .booking-box .booking-container .check-in,
.search-section .booking-box .booking-container .pax {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 300px;
  height: 50px;
  padding: 0px 10px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 0.3s;
}
.search-section .booking-box .booking-container .city:hover,
.search-section .booking-box .booking-container .check-out:hover,
.search-section .booking-box .booking-container .check-in:hover,
.search-section .booking-box .booking-container .pax:hover {
  border: 2px solid orange;
}
.search-section .booking-box .booking-container .city input,
.search-section .booking-box .booking-container .check-out input,
.search-section .booking-box .booking-container .check-in input,
.search-section .booking-box .booking-container .pax input {
  border: none;
  outline: none;
  cursor: pointer;
}
.search-section .booking-box .booking-container .city select,
.search-section .booking-box .booking-container .check-out select,
.search-section .booking-box .booking-container .check-in select,
.search-section .booking-box .booking-container .pax select {
  border: none;
  outline: none;
  cursor: pointer;
}
.search-section .booking-box .booking-container .city img,
.search-section .booking-box .booking-container .check-out img,
.search-section .booking-box .booking-container .check-in img,
.search-section .booking-box .booking-container .pax img {
  width: 15px;
}

.search-btn {
  background-color: orange;
  border-color: orange;
  border: 2px solid orange;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 23px;
  width: 200px;
  height: 50px;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  -webkit-animation: slideIn 1s ease-in-out;
          animation: slideIn 1s ease-in-out;
  display: flex;
  align-items: center;
}
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .search-btn {
    width: 300px;
    height: 30px;
    transform: translateY(-50px);
  }
}
.search-btn:hover {
  transform: scale(1.1);
}

.search-btn button {
  border: none;
  background-color: orange;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-btn button img {
  width: 20px;
}

.main-section {
  height: 100%;
}
@media screen and (max-width: 690px) {
  .main-section {
    min-width: 375px;
  }
}
.main-section .main-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0px;
}
.main-section .main-container .banner {
  position: relative;
  background-color: white;
  max-width: 1000px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-direction: column;
}
.main-section .main-container .banner img {
  width: 40px;
}
.main-section .main-container .banner p {
  font-size: 18px;
  font-weight: 700;
}
.main-section .main-container .banner h1 {
  color: #382f80;
  font-size: 60px;
  font-weight: 600;
}
.main-section .main-container .banner h3 {
  font-size: 36px;
  color: orange;
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-section .main-container .banner h3 img {
  width: 20px;
}
.main-section .main-container .banner p {
  font-size: 20px;
  color: #1c1743;
}
.main-section .main-container .banner .line {
  width: 90px;
  height: 2px;
  background-color: #1c1743;
}
.main-section .main-container .available-hotels {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: row;
  gap: 10px;
  padding: 20px;
  height: 100%;
}
@media screen and (max-width: 1200px) {
  .main-section .main-container .available-hotels {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  .main-section .main-container .available-hotels {
    grid-template-columns: repeat(1, 1fr);
  }
}
.main-section .main-container .hotel-card {
  display: flex;
  background-image: url("../assets/images/hotel.png");
  flex-direction: column;
  gap: 180px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 11.995px;
  width: 240.123px;
  height: 311.986px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}
.main-section .main-container .hotel-card:hover {
  transform: translateY(-20px);
}
.main-section .main-container .hotel-card:hover .reserve-button {
  opacity: 1;
}
.main-section .main-container .hotel-card .top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-section .main-container .hotel-card .top .person {
  font-weight: 300;
  font-size: 18px;
}
.main-section .main-container .hotel-card .hotel {
  font-size: 24.99px;
}
.main-section .main-container .hotel-card .reserve-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(56, 47, 128, 0.6745098039);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.why-us {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 690px) {
  .why-us {
    min-width: 375px;
  }
}
.why-us .ad-container {
  width: 100%;
  height: 292.938px;
  background-color: #ff8730;
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .why-us .ad-container {
    height: 100%;
  }
}
.why-us .ad-container .info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1078.239px;
  height: 206.872px;
  background-color: white;
  border-radius: 15.614px;
  box-shadow: 0px 10.149px 15.614px 2.342px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 690px) {
  .why-us .ad-container .info-box {
    height: 100%;
  }
}
.why-us .ad-container .info-box .info-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
@media screen and (max-width: 1200px) {
  .why-us .ad-container .info-box .info-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
}
@media screen and (max-width: 690px) {
  .why-us .ad-container .info-box .info-items {
    gap: 30px;
    flex-direction: column;
  }
}
.why-us .ad-container .info-box .info-items h2 {
  display: flex;
  font-size: 31.228px;
  color: black;
}
.why-us .ad-container .info-box .info-items h3 {
  font-size: 16px;
}
.why-us .ad-container .info-box .info-items .hotels,
.why-us .ad-container .info-box .info-items .customers,
.why-us .ad-container .info-box .info-items .corporate {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.trending-section {
  height: auto;
}
@media screen and (max-width: 690px) {
  .trending-section {
    min-width: 375px;
  }
}
.trending-section .headline {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.trending-section .headline img {
  width: 40px;
}
.trending-section .headline h5 {
  color: #df6951;
  font-size: 18px;
  font-weight: 700;
}
.trending-section .headline h1 {
  color: #181e4b;
}
.trending-section .trend-hotels {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  justify-items: center;
  transition: transform 0.5s ease-in-out;
}
.trending-section .trend-hotels .left,
.trending-section .trend-hotels .right {
  position: relative;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.trending-section .trend-hotels .left:hover,
.trending-section .trend-hotels .right:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1200px) {
  .trending-section .trend-hotels .left,
.trending-section .trend-hotels .right {
    display: none;
  }
}
.trending-section .trend-hotels .left[disabled],
.trending-section .trend-hotels .right[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

.hotel-card {
  display: none;
  width: 270px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: transform 0.5s ease-in-out;
}
.hotel-card:hover {
  transform: scale(1.1);
}
.hotel-card .hotel-pic {
  width: 268px;
  height: 168px;
  border-radius: 10px;
}
.hotel-card .location {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotel-card .location p {
  font-size: 14px;
}
.hotel-card .location img {
  width: 15px;
  fill: #181e4b;
}
.hotel-card .name-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotel-card .name-rating .name h2 {
  font-size: 17px;
  color: #181e4b;
}
.hotel-card .name-rating .rating {
  display: flex;
  align-items: center;
}
.hotel-card .name-rating .rating img {
  width: 14px;
}
.hotel-card .price-tag {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hotel-card .price-tag .price {
  color: rgb(223, 105, 81);
  font-weight: 700;
}
.hotel-card .price-tag .pax {
  display: flex;
  align-items: center;
  gap: 6px;
}
.hotel-card .price-tag .pax img {
  width: 10px;
}
.hotel-card .description {
  margin-top: 10px;
}
.hotel-card button {
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 134.897px;
  height: 43.103px;
  justify-content: flex-start;
  padding: 20px 7px;
  border-radius: 7.64px;
  background: #df6951;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.review-section {
  width: 100%;
  position: relative;
}
.review-section .travel {
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 1200px) {
  .review-section .travel {
    display: none;
  }
}
@media screen and (max-width: 690px) {
  .review-section {
    min-width: 375px;
  }
}
.review-section .review-container {
  height: 600px;
  background-color: rgb(237, 236, 236);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.review-section .review-container .header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.review-section .review-container .header img {
  width: 40px;
}
.review-section .review-container .header h5 {
  color: #df6951;
  font-size: 18px;
  font-weight: 700;
}
.review-section .review-container .header h1 {
  color: #181e4b;
}
@media screen and (max-width: 690px) {
  .review-section .review-container .header h1 {
    font-size: 20px;
  }
}
.review-section .review-container .comment {
  position: relative;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  gap: 10px;
  width: 558px;
  height: 279px;
  padding: 20px;
  background-color: white;
  border-radius: 17px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review-section .review-container .comment:hover {
  transform: scale(1.1);
}
.review-section .review-container .comment img {
  position: absolute;
  top: -50px;
}
@media screen and (max-width: 690px) {
  .review-section .review-container .comment .profile {
    width: 100px;
  }
}
.review-section .review-container .comment .review-comment {
  margin-top: 60px;
}
@media screen and (max-width: 690px) {
  .review-section .review-container .comment .review-comment {
    margin-top: 10px;
  }
}
.review-section .review-container .comment .dirnag {
  position: absolute;
  left: 0px;
  width: 100px;
}
@media screen and (max-width: 690px) {
  .review-section .review-container .comment .dirnag {
    width: 50px;
    transform: translateY(30px);
  }
}
@media screen and (max-width: 690px) {
  .review-section .review-container .comment {
    width: 200px;
    height: 100%;
  }
}