@mixin center-items {
  display: flex;
  align-items: center;
}
@mixin slide-in-animation {
  @keyframes slideIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@mixin for-size($screen) {
  @if $screen ==tablet {
    @media screen and (max-width: 1200px) {
      @content;
    }
  } @else if $screen ==mobile {
    @media screen and (max-width: 690px) {
      @content;
    }
  }
}
